@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.stats {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.stats-sub {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: 2em;
}

.stats img {
	height: 20vh;
	width: auto;
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-right: 3em;
}

@keyframes floating {
	from {
		transform: translate(0, 0px);
	}
	65% {
		transform: translate(0, 15px);
	}
	to {
		transform: translate(0, -0px);
	}
}

#underlyingBalance,
#borrowBalance,
#cEthBalance {
	font-size: 1.5em;
	font-family: 'Major Mono Display', monospace;
}

.stats span {
	font-family: 'Roboto Slab', serif;
	float: left;
}
