@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.nav {
	font-family: 'Roboto Slab', serif;
}

.nav-buttons {
	position: absolute;
	top: 2em;
	right: 1em;
}

a {
	text-decoration: none;
}

.MuiButton-label {
	font-family: 'Roboto Slab', serif;
}

#address {
	color: black;
}
