@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

.home-container,
.loader {
	height: 100vh;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	font-family: 'Roboto Slab', serif;
}
